@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/danger";

body {
    // font: var(--font-m);
    // overflow: hidden;
    overflow-x: hidden;

}

.app {
    background: var(--bg-color);
    overflow: hidden;
}

.app,
.app_modal,
.app_drawer {
    color: var(--primary-color);
    font: var(--font-m);
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);

}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}


