//@import "src/app/styles/reset";
//@import "src/app/styles/variables/global";
//@import "src/app/styles/themes/light";
@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";


.app {
  font-size: 30px;
}
.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
