.PageLoader {
    flex-grow: 1;
    background: var(--inverted-bg-color);

    // width: 100%;
    width: calc(100vw - var(--sidebar-width));

}

.beneathPageLoader {
    background: var(--bg-color);
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: var(--border-top-left-radius);

    // width: 100%;
}

.PageLoaderRedesigned {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
