.PageLoader{
    flex-grow: 1;
    background: var(--inverted-bg-color);
    width: 100%;

}

.beneathPageLoader{
    background: var(--bg-color);
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;

    // width: 100%;
}
