.AppLink {
    color: var(--primary-color);
    transition: all .15s ease-in-out;

    &:hover {
        font-weight: 600;
        transform: scale(1.05);
    }

}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
