.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.5s;
}

.switchers {
    position: absolute;
    bottom: 20px;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: calc(-1 * var(--font-line-l));
    bottom: var(--font-line-l);
    z-index: 10;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    width: 65%;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin: 0;
    }

}
