.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-right: 1rem;

    .card {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}

.noArticles{
    display: flex;
    justify-content: center;
}
