.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-right: 1rem;
}

.noArticles{
    display: flex;
    justify-content: center;
}
