.BIG {
    .card {
        // margin: 0 30px 30px 0;
    }

    .cardSkeleton {
        margin: 0 30px 30px 0;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 2rem;
    margin-right: 1rem;

    .card {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        gap: 2rem;
        padding-top: 2rem;
    }

}

.noArticles{
    display: flex;
    justify-content: center;
}
