.CommentCard {
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    width: 20%;
    text-decoration: none;
    border: none;
}

.text {
    margin-top: 16px;
}

.username {
    margin-left: 20px;
}
