.ArticlesPage {
    min-height: 100%;
    padding: 0 0 20px 36px;
}

.article {
    margin-right: 2em;
}

.sticky{
    z-index: 100;
    position: sticky;
    top: 0;
    background: var(--bg-color);
    margin-bottom: 1em;
    padding: 16px 8px 8px 16px;
}
