.ArticleTipsBlockComponent {
    padding: 20px;
    width: 100%;
    
}

.ArticleTipsBlockRedesigned {
    padding: 20px;
    width: 100%;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.paragraph {
    margin-top: 8px;
}

.Tips {
    background: var(--tips-bg);
}

.Note {
    background: var(--note-bg);
}

.Warning {
    background: var(--warning-bg);
}

.TipsRedesigned {
    background: var(--tips-bg);
}

.NoteRedesigned {
    background: var(--note-bg);
}

.WarningRedesigned {
    background: var(--warning-bg);
}
