.app_danger_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #d80404;
    --primary-color: #840d03;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    --red-light: #1a62f8;
    --red-dark: #2658c4;
}
