.app_dark_theme {
    --bg-color: #2c2c82;
    --inverted-bg-color:#e8e8ea;
    --primary-color: #16ec16;
    --secondary-color: #26ba26;
    --inverted-primary-color: #2658c4;
    --inverted-secondary-color: #1a62f8;
}
