.app_dark_theme {
    --bg-color: #2c2c82;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #16ec16;
    --secondary-color: #26ba26;
    --inverted-primary-color: #2658c4;
    --inverted-secondary-color: #1a62f8;

    --red-light: #f91c1c;
    --red-dark: #d80404;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;

    // skeleton
    --skeleton-color: #3636ab;
    --skeleton-shadow: #4343c3;

    // code
    --code-bg: #3333ae;

    // ArticleTipsBlock
    --tips-bg: #2872f2;
    --note-bg: #cdf9c4;
    --warning-bg: #f9d1d1;

    // card
    --card-bg: #272789;

    --listbox-bg: #2f2f92;
}
