// :root,
.light{
    --bg-color: #e8e8ea;
    --inverted-bg-color: #2c2c82;
    --primary-color: #2658c4;
    --secondary-color: #1a62f8;
    --inverted-primary-color: #16ec16;
    --inverted-secondary-color: #26ba26;
}
