.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0a0a50;
  --primary-color: #051e65;
  --secondary-color: #2863e2;
  --inverted-primary-color: #04a004;
  --inverted-secondary-color: #16ec16;
}
