// :root,
.app_light_theme{
    --bg-color: #e8e8ea;
    --inverted-bg-color: #2c2c82;
    --primary-color: #2658c4;
    --secondary-color: #1a62f8;
    --inverted-primary-color: #16ec16;
    --inverted-secondary-color: #26ba26;

    --red-light: #f91c1c;
    --red-dark: #d80404;

    // skeleton
    --skeleton-color: #fcfcfc;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fcfcfc;

    // ArticleTipsBlock
    --tips-bg: #a4c1f8;
    --note-bg: #cdf9c4;
    --warning-bg: #f9d1d1;

}
