.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 1000;

    // border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    white-space: nowrap;
}

.active {
    background: var(--light-bg-redesigned);
    border-bottom: 1px solid var(--accent-redesigned);
    cursor: pointer;
}

.disabled {
    opacity: 0.7;
}
