.MainLayout {
    max-height: 100vh;
    display: grid;
    grid-template-areas:
            'sidebar content rightbar';
    grid-template-columns: min-content 1fr min-content;
    overflow-y: auto;
    scrollbar-gutter: stable;
}


.sidebar {
    grid-area: sidebar;
    padding: 32px;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;

    // padding: 32px 32px 32px 0;
    padding-top: 32px;
    height: max-content;
    width: 100%;
}

.rightbar {
    // grid-area: rightbar;
    // background: var(--light-bg-redesigned);

    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 2em;
    z-index: 10;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
}
