.Button {
    // outline variant
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;

    // border-radius: 24px;
    // border: 1px solid var(--accent-redesigned);
    display: flex;
    align-items: center;
    background: none;

    .addonRight svg, .addonLeft svg {
        color: var(--hint-redesigned);
    }

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg, .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.withAddon {
    padding: 4px 16px;
}

.addonLeft, .addonRight {
    display: flex;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background-color: var(--light-bg-redesigned);
    border: none;
    border-radius: 24px;

}

.outline {
    background: none;
    border: 1px solid var(--icon-redesigned);
    border-radius: 24px;

    &:hover {
        border: 1px solid var(--accent-redesigned);
    }
}

.square {
    padding: 0;
    border-radius: 2px;

}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;

    &:hover {
        color: var(--text-redesigned);
        cursor: text;

        .addonLeft svg, .addonRight svg {
            color: var(--hint-redesigned);
        }
    }
}

.fullWidth {
    width: 100%;
}

// .spanDisable {
//    display: block;
// }
