.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;

    // transform: scale(0.5);
    // transition: 0.5s transform;
    max-width: 60%;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1s ease, transform 1s ease;
}

.transition {
    transition: 0.5s transform;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        // transition: 0.5s transform;
        transform: scale(0.5);
    }
}

.content.in.visible {
    opacity: 1;
    transform: translateY(0);
}


.modalNew {
    .content {
        background: var(--light-bg-redesigned);
    }
}

.modalOld {
    .content {
        background: var(--bg-color);
    }
}
