.ListBox {
    margin-left: 12px;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 100;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.item {
    padding: 10px 20px;
    white-space: nowrap;
}

.active {
    background: var(--bg-color);
    border-radius: 6px;
    cursor: pointer;
}

.selected {
    background: var(--bg-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.disabled {
    opacity: 0.7;
}

.readonly {
    opacity: 0.9;
}
