.CommentCard {
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.CommentCardRedesigned {
    .header:hover * {
        color: var(--accent-redesigned);
    }

}

.header {
    display: flex;
    align-items: center;
    width: 20%;
}

.username {
    margin-left: 20px;
    white-space: nowrap;
}
