.Navbar {
    background-color: var(--inverted-bg-color);
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.links{
    margin-left: auto;
    margin-right: 2%;
}

.mainLink{
    margin-right: 20px;
}
