.Navbar {
    background-color: var(--inverted-bg-color);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    margin-right: auto;
}

.links{
    margin-left: auto;
    margin-right: 2%;
}

.mainLink{
    margin-right: 20px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 20px;
}
