.menu {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    white-space: nowrap;
}

.active {
    background: var(--bg-color);
    border-radius: 6px;
    cursor: pointer;
}

.disabled {
    opacity: 0.7;
}
