.StarRating {
    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    .hovered svg {
        fill: var(--icon-redesigned);
        color: var(--icon-redesigned) !important;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }


}

.starIcon {
    cursor: pointer;
    fill: none;

}

// .normal {
//    fill: none;
// }


.selected {
    cursor: auto;
}
