.ArticleTipsBlockComponent {
    padding: 20px;
}

.paragraph {
    margin-top: 8px;
}

.Tips {
    background: var(--tips-bg);
}

.Note {
    background: var(--note-bg);
}

.Warning {
    background: var(--warning-bg);
}
