.Dropdown {
    position: relative;
    display: inline-block;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;

}

.menu {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
    white-space: nowrap;
}

.active {
    background: var(--bg-color);
    border-radius: 6px;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}
