@import "header.scss";
@import "toolbar.scss";
@import "formula.scss";
@import "table.scss";
@import "dashboard.scss";

* {
    margin: 0;
    padding: 0;

    // box-sizing: border-box;
}

.excel {
    position: relative;
    height: 100%;
    max-width: 100%;
}


